.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
}
  .landingpage {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: 500px;
      width: 500px;
      position: relative;
      text-align: center;
      color: white;
  }
  .landingtext {
      text-align: start;
      bottom: 30px;
      text-align: center;
      margin-top: 30px;
      padding-top: 40px;
      padding-bottom: 20px;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #mouse {
      text-align: center;
  }
  .aboutus {
      text-align: center;
      font-family: sans-serif;
  }

.image {
    height:400px;
    width:600px;
    text-align: center;
}
.mycontact {
    background-image: url("https://bit.ly/3bp53Tb");
}
.overlay {
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 30px;
	background-color: transparent;
	border-style: solid;
	border-width: medium;
	font-weight: bold;
	color: white;
	display: none;
}
@keyframes mymouse {

	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-30px);
	}

	60% {
		transform: translateY(-15px);
	}
}
.mouse {
	animation: pulse 5s infinite;
	padding-top: 2vh;
	animation-duration: 2s;
	animation-name: mymouse;
}
.imagehover:hover {
	opacity: 0.3;
}
.we-do {
	text-align: center;
	padding-top: 2%;
}

#we {
	margin-left: 0%;
}
.myport {
	text-align: center !important;
}

.whatwedo {
	display: flex;
	justify-content: space-around;
}